/*
Theme Name: Skilled App
Author: The Total Studio
Author URI: http://totalstudio.co/
Description: Official theme for Skilled Web App
Version: 1.0
Tags: web-app, skilled-app, review-app
Text Domain: skilled-app

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/


.field-must-not-empty{
    border: 1px solid red;
}
#error-message{
    color: red;
    font-weight: bold;
}
.modal-header{
    padding: 15px 40px;
    background: #ffd150;
    color: #00243a;
}
.modal-header .modal-title{
    font-weight: bold;
}
.modal-body{
    padding: 15px 40px;
}
.modal-body label{
    text-transform: uppercase;
    font-weight: bold;
}
.modal-body label .fa{
    margin-right: 0.5rem;
}
.modal-body input{
    border-radius: 0px;
}
.modal-footer{
    padding: 15px 40px;
}
.modal-footer button{
    font-family: Montserrat;
    border-radius: 0px;
    font-weight: bold;
    text-transform: uppercase;
}
.modal-footer button#submit-proposal{
    font-size: 1.2rem;
}
.mce-container-body.mce-stack-layout{
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}
div.mce-toolbar-grp{
    border: 1px solid #dedede;
    background: #dedede !important;
}
.mce-tinymce{
    /*    border: 1px solid #f5f5f5 !important;*/
}
.mce-statusbar{
    background: #dedede !important;
    padding: 0.25rem 0rem !important;
}
.settings-navigation{
    padding: 0rem !important;
    margin-top: 40px !important;
}
.settings-navigation .settings-company-logo{
}
.settings-navigation .settings-company-logo img{
    padding: 40px;
}
.settings-navigation .settings-company-menu ul li a{
    font-weight: bold;
}
.settings-navigation .settings-company-menu ul li a .fa{
    margin-right: 10px;
}
.settings-content{
    padding: 0px;
}
.settings-box{
    margin: 40px;
}
.settings-box-header{
    background: #ffffff !important;
    border-bottom: 4px solid #cacaca !important;
    margin-left: 30px;
    padding: 20px 40px 20px 0px !important;
}
.settings-box-body{
    padding: 40px !important;
}
.settings-box-body label{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.75rem;
}
.settings-box-body input[type=text],.settings-box-body select{
    font-family: Montserrat;
    border-radius: 0px;
    font-size: 1rem;
    padding: 8px;
    height: 38px;
}
.settings-box-body a.btn-primary{
    margin-bottom: 16px !important;
}
.settings-box-body button.btn-primary{
    font-family: Montserrat;
    border-radius: 0px;
    font-weight: bold;
    text-transform: uppercase;
    min-width: 11rem;
    margin-top: 2rem;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 1.1rem;
    border: none;
}
.pull-right.premium{
    font-size: 0.84rem;
    margin-top: 8px;
}

/* CSS QUICK FIX */
.footer-all-right-reserved{
    text-align: right !important;
}
.footer-copyright-list{

}
.section-company-guide-content .section-inner .tab-content .companies .company .company-header .company-name a {
    color: #0092eb;
}
.section-company-guide-content .section-inner .tab-content .companies .company .company-text .read-more{
    color: #b3b3b3;
    font-style: italic;
}
.section-resources .page-content .resources-item .resources-thumbnail img{
    width: 100%;
    height: auto;
}
.section-resource .page-content{
    text-align: justify;
}
.section-resource .page-content .resource-text img{
    width: auto;
    height: auto;
}
.embed-code-content{
    margin-top: 1rem;
}
.embed-code-content .thumbnail{
    padding: 0.5rem;
}
.embed-code-content .thumbnail img{
    max-width: 210px;
    max-height: 96px;
    width: auto;
    height: auto;
}
.embed-code-content h3{
    padding: 0.5rem;
    font-size: 1rem;
    line-height: 1.25;
}
.embed-code-content .content{
    padding: 0.5rem;
}
.menu-item-has-children.dropdown-menu:hover .dropdown-menu{
    display: block !important;
}
.header .navbar .nav.navbar-nav{
    padding: 0px;
    margin: 0px;
    height: 62px;
    line-height: 62px;
}
.header .navbar .navbar-nav .nav-item .dropdown-menu{
    width: 100%;
    min-width: 180px;
}
.depth_0 .nav-item{
    position: relative;
    float: none;
}
.header .navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item{
    padding: 0px 8px;
    height: 48px;
    line-height: 48px;}

.depth-0:hover{
    background: #ffd150;
}
.depth-0:hover a, .depth-0:hover .fa{
    color: #00243a !important;
}
.depth-0:hover .level-0{
    display: block;
}

.depth-0 .menu-item-has-children.dropdown:hover{
    background: #ffdc72;
}

.depth-0 .menu-item-has-children.dropdown:hover .dropdown-menu{
    display: block;
    left: 100%;
    top: 0;
}
/*.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}*/

.depth-1.menu-item-has-children::after{
    font-family: FontAwesome;
    content: "\f0da";
    right: 8px;
    top: -8px;
    position: absolute;
}

.header .navbar .navbar-nav .nav-item .nav-link:hover .fa{
    color: #ffc11a;
}

.header .navbar .navbar-nav .nav-item.dropdown.show .nav-link .fa{
    color:#00243a;
}

@media screen and (max-width: 992px){
    .fa-quote-right{
        display: none !important;
    }
    .review-content .fa-quote-right{
        display: inline-block !important;
    }
    .section-company-guide-content .section-inner h1{
        width: 100%;
    }
    .header .navbar .navbar-nav {
        border-top: 3px solid #ffd150;
    }
    .section-company-info .content-container .content .company-services-container .company-services .company-services-title{
        text-align: center;
    }
    .header .navbar .nav.navbar-nav{
        display: inline-block;
    }
    .header .navbar .navbar-nav .nav-item{
        background: #00243a;
        width: 100%;
    }
    .header .navbar .navbar-nav .nav-item a{
        width: 100%;
    }
    .depth-1,.depth-2{
        width: 100%;
    }
    .depth-2 .dropdown-item{
        padding-left: 32px !important;
    }
    .depth-1.menu-item-has-children::after{
        right: 32px;
        content: "\f0d7";
    }
    .primary-menu-2{
        margin-top: 20px !important;
    }
    .header .navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item{
        padding: 0px 16px;
    }
    .header .navbar .navbar-search .nav-search{
        padding: 8px;
    }
}
@media screen and (min-width: 993px){
    .section-company-guide-content .section-inner h1{
        width: 45%;
    }
    .modal-footer button{
        min-width: 10rem;
    }
    .company-reviews .review-item{
        margin-bottom: 1rem;
    }
    .fa-quote-right{
        display: inline-block !important;
    }
    .review-content .fa-quote-right{
        display: none !important;
    }
}

.related-articles .c_resources .thumbnail{
    width: auto !important;
    height: auto !important;
}

.header .navbar .dropdown-switch-country{
    position: absolute;
    right: 0em;
    background: #ffc11a;
    -webkit-appearance: none;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: none;
    width: 56px;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    padding-left: 18px;
    margin-top: 10px;
}

.claim-company{
    display: none !important;
}

.header .navbar .dropdown-switch-country option{
    padding: 12px 0px;
}

.section-company-info .sidebar-container .sidebar .company-info .company-btns-container .visit-website{
    letter-spacing: 0.05rem;
    font-size: 0.9rem;
}
.section-company-info .sidebar-container .sidebar .company-info .company-btns-container .btn-company-contact{
    font-size: 0.9rem;
}

.search-overlay{
    visibility: hidden;
    background: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0px;
    z-index: 1500;
}
#navbar-search{
    z-index: 1600;
}
.header .navbar .navbar-search-button{
    margin-top: 0.4rem;
}
.section-get-ranked .section-get-ranked-title a{
    font-size: 1rem;
}